In [12]:
import pandas as pd
import pandas_datareader as pdr
import quandl as ql
import numpy as np

ql.ApiConfig.api_key = 'mssPioTZC2BM3ASfjiFE'
soybean_global_price_code = 'PSOYBUSDM'
soybean_PPI_code = 'WPU01830131'
soybean_front_month_ticker = 'ZS=F'

In [14]:
yields = ql.get("USTREASURY/YIELD")
soybean_global_prices = pdr.get_data_fred(soybean_global_price_code)
soybean_PPI = pdr.get_data_fred(soybean_PPI_code)
soybean_front_month = pdr.get_data_yahoo(soybean_front_month_ticker)

In [8]:
start, stop = yields.index[0],yields.index[-1]

In [3]:
df = pd.DataFrame()

In [8]:
yields.tail()

,1 MO,2 MO,3 MO,6 MO,1 YR,2 YR,3 YR,5 YR,7 YR,10 YR,20 YR,30 YR
Date,,,,,,,,,,,,
2022-01-14,0.05,0.05,0.13,0.30,0.51,0.99,1.26,1.55,1.72,1.78,2.18,2.12
2022-01-18,0.05,0.06,0.16,0.37,0.58,1.06,1.35,1.65,1.82,1.87,2.24,2.18
2022-01-19,0.05,0.06,0.17,0.36,0.57,1.04,1.33,1.62,1.78,1.83,2.20,2.14
2022-01-20,0.05,0.09,0.17,0.36,0.60,1.08,1.34,1.62,1.77,1.83,2.19,2.14
2022-01-21,0.05,0.08,0.17,0.35,0.58,1.01,1.28,1.54,1.70,1.75,2.13,2.07

In [ ]:
Ft = lambda S, rf, u, y, dt: St*np.exp((rf+u-y)*dt)
# S: spot price
# rf: risk free rate
# u: storage cost per annum as a % of commodity price
# y: convenience yield
# dt: time to expiration